body, html{
    margin: 0px;
    padding: 0px;
}

:root{
    --primaryColor: rgb(58, 0, 101);
    --primaryColorDark: rgb(43, 0, 93);
    --easyRead: rgba(0, 0, 0, 0.728);
}

body{
    display: flex;
    justify-content: space-between;
}
main{
    margin: 0px;
    padding: 0px;
    bottom: 0;
    background-size: cover;
    background-position: center;
}

.content{
    height: 940px;
    background-color: var(--easyRead);
    color: aliceblue;
    padding: 10px;
    margin: 10px;

    font-size: 200%;

}

.midias {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.midiaSocial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.midiaSocial:hover{
    opacity: 0.5;
}

.midiaSocial img {
    width: 70px;
    height: auto;
}

footer{
    background-color: var(--primaryColorDark);
    padding-block: 2px;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
}

header{
    background-color: var(--primaryColor);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.more {
    display: none;
}

.btnTranslate{
    display: flex;
    position: absolute;
    left: 0;
    margin: 2px;

    border-radius:  20px;
    border: none;
}

header button{
    display: none;
    position: relative;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: start;
    margin: 20px;

    text-align: center;
}

.profile img {
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin: 0px;
    box-shadow: 0px -5px 10px 2px rgba(0, 0, 0, 0.525);
}

.profile p{
    background-color: var(--primaryColorDark);
    padding: 4px;
    border-radius: 10px;
    margin: 2px;
    color: aliceblue;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.679);
}

@media (max-width: 480px) {
    body {
        flex-direction: column-reverse;
    }
    header {
        width: auto;
        padding: 0px;
    }

    .content{
        text-align: center;
        height: 720px;

        font-size: 25px;
    }

    ul,
    h2{
        text-align: start;
    }

    .btnMore{
        display: inline;
        position: absolute;
        right: 10px;
        top: 163px;

        width: 70px;
        height: 30px;

        border: none;
        border-radius: 100px;

        background-color:var(--primaryColor);
    }

    .icon{
        width: 13px;
        height: auto;
    }
    .more a {
        color: rgb(184, 184, 184);
    }

    .more {
        display: none;
        flex-direction: column;
        background-color: var(--primaryColor);
        padding: 10px;
        color: rgb(207, 207, 207);
        box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.301);
        
        position: absolute;
        top: 170px;
        left: 0;
        right: 0;
        width: auto;
    }
    footer {
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    footer p {
        margin: 2px;
    }

    .midias {
        display: none;
    }
}